<!doctype html>
<html ng-app="hackerListApp">
  <head>
    <!--JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.3/angular.min.js"></script>
    <script src="js/hackerlist.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
  <!--
    <div class="centered" ng-controller="HackerListController">
      <h1>Hacker List</h1>
      <p>Watch out for these hackers the rest of hackathon season.</p>-->
      <!--trying table-->
        <div class="promo scale centered" ng-controller="HackerListController">
          <div class="deal">
            <span>Hacker List</span>
            <span>Watch out for these hackers the rest of Hackathon Season!</span>
          </div>
          <span class="price">Hacker List</span>
          <ul class="features">
            <li ng-repeat="hacker in hackers">
              <span>{{hacker.name}}</span>
            </li> 
          </ul>
          <span class="price">Want to be on the list?</span>
          <button>Sign in with Github</button>
        </div>
<!--
      <div class="footer">
        <p>Want to be on the list?</p>
        <button>Sign in with Github</button>

        <p>Know somepone who should be on the list?</p>
        <label>Their github:</label>
        <input type="text" ng-model="yourName" placeholder="https://github.com/feross">
      </div>
    </div>
-->
  </body>
</html>